* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  /*border: 1px solid rgba(0, 0, 0, 0.3);*/
  /*overflow: auto;*/
}
.menu_bar {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
}

li {
  display: inline-block;
}

li a, .dropbtn{
  display: block;
  padding: 8px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #093;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

#profile-ddc {
  position: fixed;
  right: 0px;
}

.dropdown-content a:hover {
  color: white;
  background-color: #093
}

.dropdown:hover .dropdown-content {
  display: block;
}

.active {
  background-color: #093;
}

/* --- search --- */
#search {
  display: block;
  padding: 4px;
  text-align: center;
  padding: 9px 11px;
  text-decoration: none;
}

#search input[type="text"] {
  background: url(search-dark.png) no-repeat 10px 6px #444;
  border: 0 none;
  font: bold 12px;
  color: white;
  width: 150px;
  padding: 6px 15px 6px 35px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

#search input[type="text"]:focus {
  width: 200px;
}
/* --- search --- */

#loginform {
  color: #333;
  background-color: Gold;
}

#loginform:hover {
  color: white;
  background-color: #093;
}

/*--- login popup ----*/
.login {
  position: fixed;
  right: 0;
  width: 350px;
  display: none;
}

.login fieldset {
  padding: 10px;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid #ECF0F1;
  right: 5%;
  position: absolute;
  top: -10px;
}

.formholder {
  background: #ecf0f1;
  width: 350px;
  padding-top: 5px;
}

.formholder input[type="email"], .formholder input[type="password"] {
  padding: 7px 5px;
  margin: 10px 0;
  width: 96%;
  display: block;
  border: none;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
.formholder input[type="email"]:focus, .formholder input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 1px 1px #093;
}
.submit {
  color: white;
  background: #333;
  padding: 5px 10px;
  font-size: 20px;
  display: block;
  width: 100%;
  margin: auto;
  border: none;
  text-align: center;
  text-decoration: none;
}
.submit:hover {
  color: white;
  background: #093;
}

.randompad {
  padding: 10px;
}

.green {
  color: #333;
}
/*--- login popup ----*/

.banner {
  background: url(../img/banner.jpg) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  z-index:-1;
}

.banner_desc{
  width: 100%;
  margin: 20% auto;
  padding-left: 3em;
  position: left;
  /*padding-top:9em;
  padding-left: 2em;
  position: left;*/
}
.banner_desc h1{
  color: #fff;
  font-size: 3.5em;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 2px 2px #000;
  line-height: 1;
  margin-bottom: 20px;
}
.banner_desc h2{
  color: #fff;
  text-transform:uppercase;
  font-size:2em;
  font-weight:500;
  letter-spacing:1px;
  text-shadow: 2px 2px #000;
}
.button {
  display: block;
  z-index: 2;
  text-shadow: none;
  margin-top:2em;
  max-width: none;
}
.button a{
  text-decoration: none;
  color: white;
  background: #333;
  padding: 10px 40px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2em;
}

.button a:hover {
  color: white;
  background-color: #093;
}


/* register.html */
div.register_page{
  background-color: #ecf0f1;
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  z-index:-1;
}

form.register{
  width:800px;
  margin: 20px auto 0px auto;
  height:430px;
  background-color:#fff;
  padding:5px;
  -moz-border-radius:20px;
  -webkit-border-radius:20px;
}

.register h1 {
  margin: 30px auto 30px 10px;
}

form p{
  font-size: 8pt;
  clear:both;
  margin: 0;
  color:gray;
  padding:4px;
}
form.register fieldset.row1, form.register fieldset.row2{
  width:770px;
  padding:5px;
  float:left;
  border:0;
  border-top:1px solid #F5F5F5;
  margin-bottom:15px;
  padding-left: 30px;
}
form.register fieldset.row1 label, form.register fieldset.row2 label{
  width:140px;
  float: left;
  text-align: right;
  margin-right: 6px;
  margin-top:2px;
}

form.register fieldset.row2 {
  border-bottom: 1px solid #F5F5F5;
  padding-bottom: 30px;
}

form.register legend
{
  color: #093;
  text-shadow: 2px;
  padding:2px;
  margin-left: 14px;
  font-weight:bold;
  font-size: 14px;
  font-weight:100;
}
form.register label{
  width:98px;
  float: left;
  text-align: right;
  margin-right: 6px;
  margin-top:2px;
}
form.register label.optional{
  float: left;
  text-align: right;
  margin-right: 6px;
  margin-top:2px;
}
form.register label.obinfo{
  float:right;
  padding:3px;
  font-style:italic;
}
form.register input{
  border: 1px solid #E1E1E1;
  width: 140px;
  float: left;
  margin-right: 5px;
}

form.register select {
  border: 1px solid #E1E1E1;
  width: 142px;
  float: left;
  margin-right: 5px;
}

form.register input.submit {
  margin-top: 30px;
  margin-left: 30px;
  padding: auto 4px;
  width: auto;
}

form.register input.long {
  width: 433px;
}

form.register input.product-img {
  border-color: transparent;
  width: 433px;
}

label.obinfo {
  font-size: 8px;
}

/*produc details page*/
.details {
  display: inline-block;
  /*border-top: 1px solid #E1E1E1;*/
  position: relative;
  left: 20px;
}

#detail-header {
  padding: 0;
  margin: 10px 20px 10px 20px;
  border-bottom: 1px solid #E1E1E1;
}

.detail-img {
  width: 350px;
  height: 330px;
  margin: 10px;
  margin-top: 15px;
  border-radius: 10px;
  border: 1px solid #E1E1E1;
  clear:both;
}

.col-img {
  float: left;
  height: 365px;
  margin-right: 30px;
  padding-right: 30px;
  border-right: 1px solid #E1E1E1;
}

.col-desc {
  width: 300px;
  margin-bottom: 30px;
  margin-top: 50px;
  float: right;
}

.col-desc label.detaillabel {
  width: 170px;
}

.col-desc label.inputlabel {
  float: right;
  text-align: left;
}
.col-desc fieldset {
  padding-bottom: 20px;
  border: 0;
  border-top: 1px solid #E1E1E1;
}

.col-desc input.submit {
  float: right;
}

.col-buy {
  margin-left: 10px;
}

/*about page*/

.about-page {
  background: #e1e1e1;
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  z-index:-1;
}

.about {
  background: #666;
  color: #fff;
  position: relative;
  padding: 20px;
  margin: 50px 100px;
  border-radius: 20px;
}

.about h1 {
  text-align: center;
  margin: 30px;
}

.about h2 {
  text-align: left;
  margin: 30px;
}


.about-us {
  border: 1px solid #e1e1e1;
  border-radius: 10px;
}

.about-us img{
  /*margin: 10px 5% 5px 5%;*/
  /*align-content: center;*/
  position: relative;
  align-self: center;
  top:20px;
  left:20px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  clear: both;
}

.about-us label {
  position: relative;
  float: left;
  text-align: center;
  font-size: 8px;
  margin-top: 20px;
}

.profile-pic {
  margin: 10px 3% 30px 3%;
  /*align-content: center;*/
  position: relative;
  display: inline-block;
  width: 140px;
}
